export(binSpeeds)
export(buildHourlyAverages)
export(dbFetch)
export(dbFetchAll)
export(dbFetchAvg)
export(dbFetchSensor)
export(facetLabeller)
export(makeVectorMap)
export(plotSensorSpeed)
export(raster2VectorMap)
export(raster2kml)
export(readData)
export(reorderFactor)
export(rmse)
export(sde)
export(shinyPlotSensorSpeed)
export(speed2u)
export(speed2v)
export(subsetOnDate)
export(subsetOnDirection)
export(subsetOnHour)
export(subsetOnSpeed)
export(uv2dir)
export(uv2speed)
export(wnBoxplot)
export(wnBuildBiasDf)
export(wnCreateBubbleMap)
export(wnPlotBiasVsObs)
export(wnPlotDirTs)
export(wnPlotObsVsPred)
export(wnPlotSpeedTs)
export(wnReadBiasData)
