export(buildHourlyAverages)
export(dbFetchAll)
export(makeVectorMap)
export(plotSensorSpeed)
export(raster2kml)
export(readData)
export(speed2u)
export(speed2v)
export(subsetOnHour)
export(subsetOnSpeed)
export(wnBuildBiasDf)
export(wnReadBiasData)
